Repository dev-externlabs/express-mongo-adminjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --fix

feat: eslint config updated for typescript
  .eslintignore
  .eslintrc.json
Due: none

feat: tsconfig.json added
  tsconfig.json
Due: none

feat: type updated for docs module
  src/docs/swaggerDef.ts
  src/routes/v1/docs.route.js
  src/routes/v1/docs.route.ts
  src/routes/v1/index.ts
Due: eslint, eslint --fix

doc: readme updated
  README.md
  src/interfaces/modified.interface.ts
Due: eslint --fix

fix: error not working on wrong password
  src/services/auth.service.ts
Due: eslint --fix

file updated : user.controller, auth, validations/index, user.validation
  .gitignore
  src/controllers/user.controller.ts
  src/middlewares/auth.ts
  src/validations/index.ts
  src/validations/user.validation.js
  src/validations/user.validation.ts
Due: eslint, eslint --fix

role and permissions updated
  config/morgan.ts
  config/roles-permissions.json
  config/roles.ts
Due: eslint --fix

minor bug fixed
  src/controllers/auth.controller.ts
Due: eslint --fix

js -> ts : user.route
  src/interfaces/models/user.interface.ts
  src/routes/v1/user.route.ts
  src/services/user.service.ts
Due: eslint --fix

helmet added
  package.json
  src/app.ts
Due: eslint --fix

express-list-routes added
  package.json
Due: none

express updated
  package.json
Due: none

routes listed on app start and health route added
  src/app.ts
  src/routes/v1/index.ts
Due: eslint --fix

minor updates
  config/config.ts
Due: eslint --fix

password removed from login and register response
  src/controllers/auth.controller.ts
  src/services/auth.service.ts
  src/services/token.service.ts
Due: eslint --fix

email-service updated
  src/services/email.service.ts
Due: eslint --fix

forgot password route added
  src/controllers/auth.controller.ts
  src/routes/v1/auth.route.ts
  src/services/index.ts
Due: eslint --fix

appLink env added
  config/config.ts
Due: eslint --fix

@types/nodemailer added
  package.json
Due: none

updated dockerfile
  Dockerfile
Due: none

express handler override for missing routes
  src/app.ts
Due: eslint --fix

redundancy removed
  src/app.ts
Due: eslint --fix

message updated on reset password response
  src/controllers/auth.controller.ts
Due: eslint --fix

error handling updated on resetPassword in auth.service
  src/services/auth.service.ts
Due: eslint --fix

custom pagination updated
  src/models/plugins/paginate.plugin.ts
Due: eslint --fix

user route added
  src/routes/v1/index.ts
Due: eslint --fix

validation updation on user route param
  src/validations/user.validation.ts
Due: eslint --fix

minor updation on 404
  src/app.ts
Due: eslint --fix

package tsc-alias added
  package.json
Due: none

scripts added to create build and run the build
  package.json
Due: none

tsconfig updated
  tsconfig.json
Due: none

docke file updated to run build
  Dockerfile
Due: none

update: readme changes
  README.md
  package.json
  src/docs/swaggerDef.ts
Due: eslint --fix

update: password hide from user list resource
  src/controllers/user.controller.ts
  src/models/plugins/paginate.plugin.ts
Due: eslint --fix

test: custom plugin added
  src/interfaces/models/user.interface.ts
  src/models/plugins/index.ts
  src/models/plugins/userdata.plugin.ts
  src/models/user.model.ts
Due: eslint --fix

fix: passport-jwt missing strategy added
  src/app.ts
Due: eslint --fix

fix: role-permission check updated
  config/roles.ts
  src/middlewares/auth.ts
  src/routes/v1/user.route.ts
Due: eslint --fix

Path conditions:
  eslint: any of: *.js
  eslint --fix: any of: *.ts
